* {
    margin: 0px;
    padding: 0px;
}
body {
    display: grid;
    grid-template-columns: 20vw 80vw;
    grid-template-rows: 20vh 80vh;
}
main {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 100%;
    width: 100%;
}
aside {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100%;
    width: 100%;
}